<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Tambola</title>
    <link rel="stylesheet" href="../public/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
    <script src="../public/script.js"></script>
</head>
<body> <br>
    <div class="container">
        <div class="banner"><br><br>
            <center><img src="../public/muacm.png" style="height: 10vh; width:5vw" alt=""></center>
            <h1>Technical Tambola</h1> <br>
            <div> <a style=" width: 150px; background-color: #1065b7; text-align: center; font-weight: 800; padding: 11px 0px; color: white; font-size: 12px; display: inline-block; text-decoration: none; " href='https://pmny.in/WIqk71GMlA9e' > Proceed to Register </a> </div>
            <br>
            <h5>Some Important Points:</h5>
            <ul>
                <li><h6>You can only register once per email. Your entries will be discarded on duplicate emails.</h6> </li>
                <li><h6>Ticket price will be Rs 50/Ticket.</h6></li>
                <li><h6>Event will be organized on 29th August , 11 AM onwards.</h6></li>
                <li><h6>You shall recieve your passwords through email id you used for payment.</h6></li>
            </ul>
            <center><h3 style="color: black;">Knowledge Partners:</h3>
            <img src="../public/stic_logo.png" style="height: 15vh; width:10vw" alt="">
            <img src="../public/datacode.svg" style="height: 15vh; width:10vw" alt=""></center> <br>
        </div>
    </div>    
</body>
</html>